# Xmake cache
.xmake/
build/
python/infinicore/lib/*.so

# MacOS Cache
.DS_Store

# Vscode
.vscode/

# Pycharm
.idea/

# Python
__pycache__/
*.egg-info/

# Log
*.log

# Cache
cache/

# JSON
*.json

#GGUF
*.gguf

# Compressed
*.gz
*.zip
*.tar
config.local.json
src/infiniop/ops/var_mean/cuda/ref_CudaWelford.txt
src/infiniop/ops/var_mean/cuda/ref_CudaWelford_basic.txt
src/infiniop/ops/var_mean/cuda/ref_oneflow.txt
src/infiniop/ops/topk/cuda/ref_kernel.cuh
src/infiniop/ops/topk/cuda/ref_kernel2.cuh
src/infiniop/ops/topk/cuda/ref_kernel3.cuh
